<header>
    <div id="top-header" style="color: white; padding-left: 25px;"></div>
    <nav class="navbar navbar-expand-lg" style="background-color: #1E1F29; border-radius: 0;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: white; margin-right: auto; margin-left: 0;">BIKEBLISS.COM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
        </button>
  
        <div class="collapse navbar-collapse justify-content-center" id="navbarText">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="\login" style="color: white;">My Account</a>
            </li>
            <li class="nav-item d-lg-none d-xl-none">
              <a class="nav-link active" aria-current="page" href="\login" style="color: white;">Your Wishlist</a>
            </li>
            <li class="nav-item d-lg-none d-xl-none">
              <a class="nav-link active" aria-current="page" href="\login" style="color: white;">Your Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="\login" style="color: white;">Your Orders</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="\login" style="color: white;">
                <i class="fas fa-sign-out-alt"></i> Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  