<header>





  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" href="#">BIKEBLISS.COM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/dashboard">DASHBOARD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/userlist">USERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/categorylist">CATEGORIES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/productlist">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/bannerlist">BANNERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/offerlist">OFFERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/couponlist">COUPONS</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/adminLogout">
                        <i class="fas fa-sign-out-alt"></i> LOGOUT
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>








    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-envelope-o"></i>
                        <%=userData.email%>
                    </a></li>
            </ul>
            <ul class="header-links pull-right">
            </ul>
        </div>
    </div>

    <div id="header">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-sm-4 col-2">
              <div class="header-logo">
                <a href="/" class="logo">
                  <img class="img-fluid" src="/main/img/logo.png"  alt="">
                </a>
              </div>
            </div>
            <div class="col-md-7 col-sm-4 col-5 text-center m-auto"> <!-- Add 'text-center' class for center alignment -->
              <div class="header-search">
                <h1 class="text-light ">BIKEBLISS</h1>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-5 m-auto">
              <div class="header-ctn">
                <select id="myDropdown" onchange="handleSelection(this)" class="form-select">
                  <option value="">Choose an option</option>
                  <option value="/myAccount">My Account</option>
                  <option value="/wishlist">Your Wishlist</option>
                  <option value="/cart">Your Cart</option>
                  <option value="/orders">Your Orders</option>
                  <option value="/logout">Logout</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</header>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const myDropdown = document.getElementById('myDropdown');
        myDropdown.addEventListener('change', handleSelection);
        myDropdown.selectedIndex = 0;
    });
    function handleSelection(event) {
        const selectedValue = event.target.value;
        if (selectedValue) {
            window.location.href = selectedValue;
        }
    }
</script>