<header>
  
<nav class="navbar navbar-expand-md" style="background-color: #1E1F29; border-radius: 0;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: white; margin-right: auto; margin-left: 0;">BIKEBLISS.COM</a>
    <div class="navbar-toggler" onclick="toggleNavbar()" style="color: white;">
      <span class="navbar-toggler-icon navtogglericon">&#9776;</span>
    </div>

    <div class="navbar-collapse collapse" id="navbarText">
      <ul class="navbar-nav1">
        <li class="nav-item">
          <a class="" aria-current="page" href="/myAccount"
            style="color: white; ">My Account</a>
        </li>
        <li class="nav-item">
          <a class="" aria-current="page" href="/wishlist"
            style="color: white; ">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="" aria-current="page" href="/cart"
            style="color: white;">Your Cart</a>
        </li>
        <li class="nav-item">
          <a class="" aria-current="page" href="/orders"
            style="color: white;">You Orders</a>
        </li>
        <li class="nav-item login-style">
          <a class="nav-link active" aria-current="page" href="/login" style="color: white;">
            <i class="fas fa-sign-out-alt"></i> Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  </header>

  <script>
    function toggleNavbar() {
      $('.navbar-collapse').collapse('toggle');
    }
    
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
      
