.left {
  background-color: rgb(255, 183, 50);
  height: 100vh;
  align-items: center;
  margin: auto;
  text-align: center;
}

.right {
  background-color: white;
  overflow-y: auto; 
}

.head {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: auto;
}

.head img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: auto;
}

.buttons {
  width: 100px;
  border-radius: 10px;
}

.buttons a {
  color: black;
  text-decoration: none;
}

.createButton {
  border-radius: 10px;
  min-width: 150px;
}

.createButton a {
  color: black;
  text-decoration: none;
}


.fline {
  display: flex;
  position: relative;
  align-items: center;

}

.fline button {
  position: absolute;
  right: 0;
}





table {
  width: 100%;
  margin-bottom: 20px;
}

table th,
td {
  padding: 10px;
  text-align: left;


}


table th {
  background-color: rgb(255, 183, 50);
  border: 5px solid white
}

table td {
  border: 5px solid white;

}

table tr {
  border-spacing: 10px;
  background-color: rgb(234, 233, 233)
}

#editPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 50 0px;
  background-color: white;
  background-color: rgb(255, 183, 50);
  padding: 10px;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}



.dashDetails {
  justify-content: space-evenly;
  align-items: center;
}


.userDetails {
  width: 90%;
  height: 100px;
  background: rgb(50, 70, 150);
  color: white;
}

#editPopupLarge {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 700px;
  background-color: white;
  background-color: rgb(255, 183, 50);
  padding: 10px;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.userListButton{
  min-width: 90px;
}

.ellipsis {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  width: 200px; 
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downloadPdf {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 8px;
  padding: 8px;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-bottom: 8px;
  min-width: 200px;
  min-height: 50px;
}

.downloadPdf p {
  margin: 0;
}

.downloadPdf i {
  color: #888;
  margin-left: auto; 
}


.table-container {
  max-height: 500px; 
  overflow-y: scroll; 
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 1;
}





